.fs-lg {
    font-size: 60px;
    font-family: "Agrandir";
    color: #030303;
    font-weight: bold;
    line-height: 1.16;      
}

.fs-p1 {
        font-size: 20px;
        font-family: "Arial";
        color: rgb(3, 3, 3);
        line-height: 1.5;
      
}