/*Main Css */
::-moz-selection {
  background: #87ceeb;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #87ceeb;
  color: #fff;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}

::-webkit-scrollbar-track-piece {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dedede;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e00000;
}

/* Tabbing CSS */
[class^=box-] {
  display: none;
}

[class^=box-].showfirst {
  display: block;
}

body {
  font-family: "Arial";
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: normal;
  font-family: "Agrandir";
}

*:hover,
*:focus,
* {
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

a,
button,
input[type=submit] {
  transition: all 0.4s ease-In-out;
  display: inline-block;
  cursor: pointer;
}

a:hover {
  color: #e00000;
  text-decoration: none;
}

p,
a {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

p {
  line-height: 26px;
  display: block;
}

span {
  display: inline-block;
}

/* Custom Slick Css */
.slick-list {
  margin: 0 -15px;
}

.slick-slide {
  margin: 0 15px;
}

ul.slick-dots {
  padding: 50px 0 0;
  text-align: center;
}

ul.slick-dots li {
  margin: 0 20px 0 0px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding: 0px;
  border: none;
}

.slick-dots li button:before,
.slick-dots li button:before {
  color: #FFF;
  opacity: 1;
  font-size: 20px;
}

.slick-dots li button {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  padding: 0px;
  background: #d6d6d6;
  border: none;
  cursor: pointer;
  font-size: 0px;
  padding: 0px;
  transition: all 0.4s ease-In-out;
  box-sizing: border-box;
}

.slick-dots li.slick-active button {
  background: #f3c919;
  width: 11px;
  height: 11px;
}

span.arrows {
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 2;
  cursor: pointer;
  line-height: 39px;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  top: 0;
  border-radius: 0;
  background: #f7f7f7;
  color: #696969;
}

span.arrows.next {
  right: 1%;
}

textarea,
select,
input[type],
textarea,
select,
button {
  background: transparent;
  border: none;
  border-radius: 0px;
  font-family: "Arial";
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

::-moz-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

:-ms-input-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

:-moz-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

.fs-0 {
  font-size: 0 !important;
}

.fs-lg {
  font-size: 54px;
  font-family: "Agrandir";
  color: #030303;
  font-weight: bold;
  line-height: 1.16;
}
.fs-lg span {
  position: relative;
}
.fs-lg span em {
  position: relative;
  z-index: 1;
}
.fs-lg span::before {
  content: "";
  width: 95%;
  height: 100%;
  background-image: url(../images/heading-line.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}

.fs-p1 {
  font-size: 20px;
  font-family: "Arial";
  color: rgb(3, 3, 3);
  line-height: 1.5;
}

.text-9b {
  color: #9b9b9b !important;
}

.mn-groupBtn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.mn-btn a {
  border-radius: 10px;
  background-color: #f26522;
  padding: 20px 35px;
  font-size: 20px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.2;
}
.mn-btn a:hover {
  background-color: #77787b;
}
.mn-btn a.greyBtn {
  background-color: #77787b;
}
.mn-btn a.greyBtn:hover {
  background-color: #f26522;
}

.mn-searchBox {
  position: relative;
  width: 100%;
  height: 66px;
}
.mn-searchBox input {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 85px 10px 25px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.mn-searchBox button {
  border-radius: 5px;
  background-color: #f26522;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 4px;
  width: 64px;
  height: 58px;
  margin: auto;
}
.mn-searchBox button:hover {
  background-color: #77787b;
}

.hd-pad {
  padding-bottom: 70px;
}

.secPad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.fa-phone {
  transform: rotate(90deg);
}

/* header CSS */
header {
  transition: all 0.4s ease-In-out;
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 9;
}

.top-header {
  padding: 20px 0 25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.302);
}
.top-header .topHeader-action ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.top-header .topHeader-action ul li a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
}
.top-header .topHeader-action ul li a:hover {
  color: #f26522;
}
.top-header .topHeader-action ul li a .icon {
  flex-shrink: 0;
}
.top-header .topHeader-action ul li a .icon span {
  border-radius: 50%;
  background-color: #f26522;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
}
.top-header .topHeader-action ul li a .cont {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.top-header .topHeader-action ul li a .cont span {
  font-size: 13px;
  font-family: "Arial";
  line-height: 1.2;
  color: #ffffff;
}
.top-header .topHeader-action ul li a .cont b {
  font-size: 18px;
  font-family: "Arial";
  font-weight: 600;
  line-height: 1.2;
}
.top-header .topHeader-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
.top-header .topHeader-left .topHeader-search {
  position: relative;
  width: 100%;
}
.top-header .topHeader-left .topHeader-search input {
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 5px 60px 5px 15px;
  font-size: 16px;
  font-weight: 500;
  height: 44px;
  transition: all 0.4s ease-in-out;
}
.top-header .topHeader-left .topHeader-search input:hover, .top-header .topHeader-left .topHeader-search input:focus {
  border-color: #f26522;
}
.top-header .topHeader-left .topHeader-search button {
  border-radius: 5px;
  background-color: #f26522;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  width: 38px;
  height: 34px;
  color: #ffffff;
  font-size: 17px;
}
.top-header .topHeader-left .topHeader-search button:hover {
  background-color: #77787b;
}
.top-header .topHeader-left .topHeader-nav {
  flex-shrink: 0;
}
.top-header .topHeader-left .topHeader-nav ul {
  display: flex;
  align-items: center;
  gap: 45px;
}
.top-header .topHeader-left .topHeader-nav ul li a {
  font-size: 22px;
  font-family: "Arial";
  color: #ffffff;
  line-height: 1.2;
  font-weight: 400;
}
.top-header .topHeader-left .topHeader-nav ul li a:hover {
  color: #f26522;
}

.main-header {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.302);
}
.main-header .logo {
  display: inline-block;
}
.main-header .logo img {
  display: block;
}

/* Menu Css */
.menu {
  font-size: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 35px;
}
.menu li a {
  font-size: 18px;
  font-family: "Arial";
  color: #ffffff;
  line-height: 1.2;
}
.menu li a:hover {
  color: #f26522;
}
.menu li.active {
  color: #f26522;
}
.menu li.navBtn a {
  border-radius: 10px;
  background-color: #f26522;
  padding: 10px 30px;
  font-size: 18px;
  font-family: "Arial";
  color: #ffffff;
  line-height: 1.2;
}
.menu li.navBtn a:hover {
  background-color: #77787b;
}

/* Dropdown CSS*/
@keyframes btotreverse {
  0% {
    top: 75px;
    opacity: 1;
  }
  100% {
    top: 115px;
    opacity: 0;
  }
}
@keyframes btot {
  0% {
    top: 115px;
    opacity: 0;
  }
  100% {
    top: 40px;
    opacity: 1;
  }
}
.dropdown-nav {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}
.dropdown-nav:hover {
  overflow: visible;
}
.dropdown-nav:hover .dropdown {
  animation: btot 0.5s forwards;
  z-index: 9;
}
.dropdown-nav .dropdown {
  position: absolute;
  width: 100%;
  left: 0px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  text-align: left;
  border-radius: 2px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.078);
  opacity: 0;
  animation: btotreverse 0.5s forwards;
}
.dropdown-nav .dropdown li {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.dropdown-nav .dropdown li a {
  padding: 0;
  font-size: 14px;
  color: #000000 !important;
  display: block;
  width: 100%;
  margin: 0px 0 15px;
  text-align: center;
  font-weight: 600;
  background: transparent !important;
}
.dropdown-nav .dropdown li a:hover {
  color: #000000 !important;
}

/* Hamburger Menu */
.menu-Bar {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0px;
  margin: auto;
  z-index: 22;
  display: none;
}
.menu-Bar span {
  display: block;
  height: 4px;
  width: 100%;
  background: #f26522;
  position: absolute;
  transition: 0.6s all;
  border-radius: 100px;
}
.menu-Bar span:nth-child(1) {
  top: 0;
}
.menu-Bar span:nth-child(2) {
  top: 8px;
  transform-origin: left;
}
.menu-Bar span:nth-child(3) {
  top: 16px;
}
.menu-Bar.open span {
  background: #ffffff;
}
.menu-Bar.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 12px;
  transform-origin: right-center;
}
.menu-Bar.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.menu-Bar.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 12px;
  transform-origin: right-center;
}

/* Main Banner CSS */
.mainBanner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
}
.mainBanner .dropBtn {
  position: absolute;
  bottom: -55px;
  right: 0;
  left: 0;
  margin: auto;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.mainBanner .dropBtn a {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #77787b;
  font-size: 90px;
}
.mainBanner .dropBtn a:hover {
  transform: scale(1.05);
}
.mainBanner .mainBanner-socialLink {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.mainBanner .mainBanner-socialLink ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mainBanner .mainBanner-socialLink ul li a {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 50%;
  background-color: transparent;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 26px;
}
.mainBanner .mainBanner-socialLink ul li a:hover {
  background-color: #f26522;
  border-color: #f26522;
}
.mainBanner .mainBanner-cont {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.mainBanner .mainBanner-cont h1 {
  font-size: 70px;
  font-family: "Agrandir";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  margin-bottom: -25px;
}
.mainBanner .mainBanner-cont h1 span {
  position: relative;
}
.mainBanner .mainBanner-cont h1 span em {
  position: relative;
  z-index: 1;
}
.mainBanner .mainBanner-cont h1 span::before {
  content: "";
  width: 95%;
  height: 100%;
  background-image: url(../images/heading-line.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: auto;
}
.mainBanner .mainBanner-cont p {
  font-size: 28px;
  font-family: "Arial";
  color: rgb(254, 254, 254);
  line-height: 1.2;
}
.mainBanner .mainBanner-cont .mainBanner-search {
  position: relative;
  width: 70%;
  margin: auto;
}
.mainBanner .mainBanner-cont .mainBanner-search input {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height: 66px;
  width: 100%;
  padding: 10px 80px 10px 25px;
  font-size: 16px;
  font-family: "Arial";
  color: rgb(119, 119, 119);
  line-height: 1.2;
}
.mainBanner .mainBanner-cont .mainBanner-search button {
  border-radius: 5px;
  background-color: rgb(242, 101, 34);
  width: 64px;
  height: 58px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 5px;
  position: absolute;
}
.mainBanner .mainBanner-cont .mainBanner-search button:hover {
  background-color: #77787b;
}

.homeSection1 .hsec1-card {
  border-width: 2px;
  border-color: rgb(187, 189, 188);
  border-style: solid;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 45px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  transition: all 0.4s ease-in-out;
}
.homeSection1 .hsec1-card:hover {
  background-color: #f26522;
  border-color: #f26522;
}
.homeSection1 .hsec1-card:hover h6 {
  color: #ffffff;
}
.homeSection1 .hsec1-card:hover .icon img {
  filter: brightness(10) contrast(10);
}
.homeSection1 .hsec1-card .icon {
  height: 90px;
  font-size: 0;
}
.homeSection1 .hsec1-card .icon img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.4s ease-in-out;
}
.homeSection1 .hsec1-card h6 {
  font-size: 24px;
  font-family: "Agrandir";
  color: rgb(3, 3, 3);
  font-weight: bold;
  line-height: 1.1;
  transition: all 0.4s ease-in-out;
}

.homeSection2 {
  background-image: url(../images/sec2/white-paper-texture-background.png);
}
.homeSection2 .hsec2-hd .row {
  row-gap: 20px;
}
.homeSection2 .hsec2-main .row {
  row-gap: 24px;
}
.homeSection2 .hsec2-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.homeSection2 .hsec2-card .img {
  height: 260px;
}
.homeSection2 .hsec2-card .img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.homeSection2 .hsec2-card h6 {
  text-align: center;
  font-size: 26px;
  font-family: "Agrandir";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1;
}

.hsec3-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hsec3-cont .fs-lg {
  margin-bottom: -10px;
}

.hsec3-img {
  position: relative;
  overflow: hidden;
  font-size: 0;
}
.hsec3-img img {
  width: 100%;
  height: auto;
}
.hsec3-img span {
  border-radius: 50%;
  background-color: rgb(242, 101, 34);
  position: absolute;
  width: 160px;
  height: 160px;
  left: -35px;
  bottom: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 2px;
  padding: 20px 20px 40px 40px;
}
.hsec3-img span b {
  font-size: 53px;
  font-family: "Agrandir";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.167;
  text-align: center;
}
.hsec3-img span em {
  font-size: 17px;
  font-family: "Agrandir";
  color: rgb(255, 255, 255);
  line-height: 1;
}

.homeSection4 {
  background-image: url(../images/sec4/white-paper-texture-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.homeSection4 .hsec4-img {
  padding-right: 60px;
}
.homeSection4 .hsec4-cont {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.homeSection4 .hsec4-cont ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.homeSection4 .hsec4-cont ul li {
  display: flex;
  align-items: center;
  gap: 15px;
}
.homeSection4 .hsec4-cont ul li .icon {
  border-radius: 50%;
  background-color: rgb(242, 101, 34);
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.homeSection4 .hsec4-cont ul li .icon img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.homeSection4 .hsec4-cont ul li span {
  font-size: 35px;
  font-family: "Agrandir";
  color: rgb(0, 0, 0);
  line-height: 1.7;
}
.homeSection4 .hsec4-cont ul li a {
  width: 100%;
}

/* Responsive CSS */
@media (max-width: 1200px) {
  img {
    max-width: 100%;
    height: auto;
  }
  .menu-Bar {
    display: block;
    top: 0px;
  }
  .menuWrap.open {
    display: flex;
    left: 0px;
  }
  .menuWrap {
    position: fixed;
    left: -210%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ff8000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition: all 0.4s ease;
    z-index: 3;
    width: 100vw;
  }
  ul.menu li {
    display: block;
  }
  ul.menu li a {
    margin-bottom: 10px;
    padding: 0;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    padding-right: 0px;
    margin-right: 0px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
  }
  .logo img {
    max-width: 50%;
  }
  .container {
    position: relative;
  }
  header .header-top {
    display: none;
  }
  header .main-header ul.menu > li {
    display: block;
    padding: 0px;
  }
  header .main-header ul.menu > li a {
    color: #fff;
    padding: 0px;
  }
  header .main-header ul.menu > li a:before {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */